---
// 1. 引入通用底座
import BaseLayout from '../../layouts/BaseLayout.astro';

// 2. 引入需要的组件和常量
// 注意：Header, Footer, Nav, BaseHead 都不需要了，因为 BaseLayout 里已经有了
import { SITE_DESCRIPTION } from "../../consts";
import { getCollection } from "astro:content";
import FormattedDate from "../../components/FormattedDate.astro";
import SearchBar from "../../components/SearchBar.astro";

// 3. 数据逻辑保持不变
const posts = (await getCollection("blog")).sort(
  (b, a) => a.data.pubDate.valueOf() - b.data.pubDate.valueOf()
);

const uniqueTags = [
  ...new Set(
    posts.flatMap((post) => post.data.tags).filter((tag) => tag !== undefined)
  ),
].sort();
---

<BaseLayout title="Blog" description={SITE_DESCRIPTION}>
  
  <SearchBar />
  <h1>博客文章</h1>
  <ul class="blog-posts">
    {
      posts.map((post) => (
        <li>
          <span>
            <i>
              <FormattedDate date={post.data.pubDate} />
            </i>
          </span>
          <a href={`/blog/${post.slug}/`}>{post.data.title}</a>
        </li>
      ))
    }
  </ul>

  <div class="tags">
    {
      uniqueTags.map((tag) => (
        <a class="tag" href={`/tags/${tag}/`}>
          #{tag}
        </a>
      ))
    }
  </div>

</BaseLayout>