---
import { type CollectionEntry, getCollection } from 'astro:content';
import BaseLayout from '../../layouts/BaseLayout.astro';
import ProjectCard from '../../components/ProjectCard.astro';

export async function getStaticPaths() {
	const posts = await getCollection('projects');
	return posts.map((post) => ({
		params: { slug: post.slug },
		props: post,
	}));
}

type Props = CollectionEntry<'projects'>;

const project = Astro.props;
const { Content } = await project.render();
---

<BaseLayout title={project.data.title} description={project.data.description}>
  
  <article>
    <h1 class="title">{project.data.title}</h1>
    <hr />

    <div class="project-link-area">
        <ProjectCard 
          project={project} 
          useExternalLink={true} 
          customTitle={`查看本项目`}
          customDesc={`
            <p>点击此卡片访问：${project.data.title}</p>
            <p class="highlight-url">${project.data.url}</p>
            <p style="color: #888;">（跳转新窗口）</p>
          `}
          showExternalIcon={true}
        />
    </div>

    <div class="prose">
      <Content />
    </div>
  </article>

</BaseLayout>

<style>
  .title {
    font-size: 2em;
    margin: 0.25em 0 0;
  }
  hr {
    border-top: 1px dashed #ccc;
    margin: 1rem 0;
  }
  
  /* 限制一下卡片在文章里的宽度，不要太宽 */
  .project-link-area {
    margin: 2rem 0;
    max-width: 400px; /* 或者 100% 随你喜欢 */
  }
  
  
</style>